.one{}
.two{background-color: pink;width: 1000px;height: 250px;color: black;}
.three{background-color: red;width: 1000px;height: 250px;color: black;}
.four{width: 1000px;height: 250px;color:}
.five{background-color: yellow;width: 1000px;height: 250px;color: black;}
.f{background-color: magenta; width: 500px;height: 250px;color: black;}
.r{background-color: maroon;width: 500px; height: 250px;color: black;}